body {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  color: darkblue;
  max-width: 90%;
  margin: 0 auto;
  background: -webkit-linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgb(238, 216, 239)
  );
  background: linear-gradient(90deg, rgb(255, 255, 255), rgb(238, 216, 239));
  /* background-image: url("becode-4.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover; */
}

a {
  color: blueviolet;
  transition: color ease-in-out 300ms;
}

a:visited {
  color: blueviolet;
  transition: color ease-in-out 300ms;
}

a:hover {
  color: red;
  transition: color ease-in-out 300ms;
}

blockquote {
  width: 50%;
  margin: 0 auto;
  font-size: 160%;
  background-color: lightgray;
  border-left: 3px solid;
  padding-left: 30px;
  padding-top: 80px;
  padding-bottom: 80px;
  font-style: italic;
}

.villagers{
    border-left: 3px solid purple;
}

.farmer{
    border-left: 3px solid red;
}

h1{
    background-color: yellow;
}

.good, .bad{
    text-transform: capitalize;
}

.good{
    color: green;
}

.bad{
    color: red;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even)
{
    background-color: grey;
}

tr:nth-child(odd){
    background-color: white;
}

p:first-of-type{
    font-weight: bold;
}

img{
    float: left;
    width: 30%;
    margin-top: 10%;
    margin-right: 2%;
}